<h2><%= @user.name %>'s Bills</h2>
<h3>Unpaid bills</h3>
<% if @unpaidBills.count > 0 %>
  <%= render :partial => 'transactions/transaction', :object => @unpaidBills %>
<% else %>
  <p><%= @user.name %> has no unpaid bills!</p>
<% end %>

<h3>Paid bills</h3>
<% if @paidBills.count > 0 %>
<%= render :partial => 'transactions/transaction', :object => @paidBills %>
<% else %>
  <p>No bills</p>
<% end %>

<%= link_to 'Back', user_path %>