<h1>Users</h1>

<table class="table table-striped">
  <tr>
    <th>#</th>
    <th>Email</th>
    <th>Balance</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.email %></td>
    <td><%= user.balance.format %></td>    
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_registration_path(user) %></td>
    <td><%= link_to 'Destroy', users_path, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>