<%= form_for(@transaction) do |f| %>  
  <fieldset>
    <% if @transaction.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
        <ul>
        <% @transaction.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <h3>Items</h3>
    <%= f.fields_for :items do |i| %>
      <%= render "items_fields", :i => i %>
    <% end %>
    
    <!-- <h3>Total</h3>
    <div class="control-group">
      <%= f.label :amount %>
      <div class="controls">
        <%= f.text_field :amount %>
      </div>
    </div> -->
    
    <div class="control-group">
      <%= f.label :recipient_email %>
      <div class="controls">
        <%= f.text_field :recipient_email %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :description %>
      <div class="controls">
        <%= f.text_area :description %>
      </div>
    </div>
    <label for="transaction_complete" class="checkbox">
      <input name="transaction[complete]" type="hidden" value="0">
      <input id="transaction_complete" name="transaction[complete]" type="checkbox" value="1"> Complete
    </label>
  </fieldset>
  <div class="actions">
    <%= f.submit "New Transaction", :class => 'btn' %>
  </div>
<% end %>
