<%= form_for @transaction, :url => '/invoices', :method => :create, :html => {:class => 'new_invoice', :id => 'new_invoice'} do |f| %>  
  <fieldset>
    <% if @transaction.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
        <ul>
        <% @transaction.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="control-group">
      <%= f.label :amount %>
      <div class="controls">
        <%= f.text_field :amount %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :sender_email %>
      <div class="controls">
        <%= f.text_field :sender_email %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :description %>
      <div class="controls">
        <%= f.text_area :description %>
      </div>
    </div>
    <label for="transaction_complete" class="checkbox">
      <input name="transaction[complete]" type="hidden" value="0">
      <input id="transaction_complete" name="transaction[complete]" type="checkbox" value="1"> Complete
    </label>
  </fieldset>
  <div class="actions">
    <%= f.submit "New invoice", :class => 'btn' %>
  </div>
<% end %>
