<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :multipart => true })  do |f| %>
  <%= devise_error_messages! %>
  <fieldset>
    <legend>Sign up</legend>
    
    <div class="control-group">
      <%= f.label :avatar %>
      <div class="controls">
        <%= f.file_field :avatar %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :name %>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>    
    <div class="control-group">
      <%= f.label :email %>
      <div class="controls">
        <%= f.email_field :email, :value => params[:email] %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :password %>
      <div class="controls">
        <%= f.password_field :password %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :password_confirmation %>
      <div class="controls">
        <%= f.password_field :password_confirmation %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :is_merchant %>
      <div class="controls">
        <%= f.check_box :is_merchant %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :description %>
      <div class="controls">
        <%= f.text_field :description %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :address %>
      <div class="controls">
        <%= f.text_field :address %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :latitude %>
      <div class="controls">
        <%= f.text_field :latitude %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :longitude %>
      <div class="controls">
        <%= f.text_field :longitude %>
      </div>
    </div>
    <div>
      <%= f.submit "Sign up", :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
<%= render "links" %>
