<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :multipart => true })  do |f| %>
  <%= devise_error_messages! %>
  <fieldset>
    <legend>Sign up</legend>
    
    <div class="control-group">
      <%= f.label :avatar %>
      <div class="controls">
        <%= f.file_field :avatar %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :email %>
      <div class="controls">
        <%= f.email_field :email %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :password %>
      <div class="controls">
        <%= f.password_field :password %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :password_confirmation %>
      <div class="controls">
        <%= f.password_field :password_confirmation %>
      </div>
    </div>
    <div>
      <%= f.submit "Sign up", :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
<%= render "links" %>
